<% title "Nearby" %>

<h1>What&apos;s near me?</h1>

<div id="nearby-map-container">
	<div id="nearby-map"></div>

		<%= javascript_include_tag "leaflet-providers" %>
		<%= javascript_include_tag "kyc-leaflet" %>

		<script>

		var map = L.map('nearby-map').setView([45.518683, -122.681764], 14);
		addTilesToMap('Stamen.Toner', map);
		
		var initialGeoJSONData = <%= @geojson %>;
		addGeoJSONToMap(initialGeoJSONData, map);
		addUserToMap(map, true);
		
		</script>
		
</div> <!-- id="nearby-map-container" -->


<%-# This data will feed the map, instead of just a list... %>
<% @tidbits.each do |tidbit| %>
	<div class="tidbit-listing">		
		<h4><%= link_to tidbit.title, tidbit%></h4>
		<p><% if !tidbit.year.nil? %>
			<span class="tidbit-year"><%= tidbit.year %></span>
		<% end %>
		</p>
	</div>
<% end %>

