<%= simple_form_for(@guest) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :title %>
    <%= f.input :organization %>
    <%= f.input :image_name %>
    <%= f.input :bio %>
    <%= f.input :twitter_template %>
    <%= f.input :editorial_notes %>
    <%= f.input :quote %>
    <%= f.input :guest_url %>
    <%= f.input :guest_url_text %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
