<p id="notice"><%= notice %></p>

<%#- re-enable once final images are checked-in %>
<% if false %>
<%= image_tag("#{@guest.image_name}.jpg", :class => "theme_image" , :alt => "Theme image") %>
<% end %>

<%#- hard-coded image tag, until image handling is finalized %>
<img alt="Guest Image" class="guest_image" src=<%="http://kycstatic.elsewiseapps.com/assets/#{@guest.image_name}.jpg" %> />
<p class="image-credit"><em>Image credit:</em> <%= @guest.image_credit %></p>

<h2><%= @guest.name %></h2>

<p>
  <b>Title:</b> <%= @guest.title %>
</p>

<p>
  <b>Organization:</b> <%= @guest.organization %>
</p>

<%= simple_format @guest.bio %>

<% if !@guest.quote == "" %>
	<h4><em>&ldquo;<%= @guest.quote %></em>&rdquo;</h4>
<% end %>

<% if !@guest.guest_url == "" %>
	<p><em>More info:</em> <a href="<%= @guest.guest_url %>"><%= @guest.guest_url_text %></a></p>
<% end %>

<h3>Stories</h3>

<% @stories.each do |story| %>

	<h4><%= link_to story.title, story%></h4>
	<p><%= story.subtitle%></p>

<% end %>