<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @guest.name %>
</p>

<p>
  <b>Title:</b>
  <%= @guest.title %>
</p>

<p>
  <b>Organization:</b>
  <%= @guest.organization %>
</p>

<p>
  <b>Image name:</b>
  <%= @guest.image_name %>
</p>

<p>
  <b>Bio:</b>
  <%= @guest.bio %>
</p>

<p>
  <b>Twitter template:</b>
  <%= @guest.twitter_template %>
</p>

<p>
  <b>Editorial notes:</b>
  <%= @guest.editorial_notes %>
</p>

<p>
  <b>Quote:</b>
  <%= @guest.quote %>
</p>

<p>
  <b>Guest url:</b>
  <%= @guest.guest_url %>
</p>

<p>
  <b>Guest url text:</b>
  <%= @guest.guest_url_text %>
</p>


<%= link_to 'Edit', edit_guest_path(@guest) %> |
<%= link_to 'Back', guests_path %>
