<p id="notice"><%= notice %></p>

<%= image_tag("#{@guest.image_name}.jpg", :class => "theme_image" , :alt => "Theme image") %>

<p>
  <b>Name:</b>
  <%= @guest.name %>
</p>

<p>
  <b>Title:</b>
  <%= @guest.title %>
</p>

<p>
  <b>Organization:</b>
  <%= @guest.organization %>
</p>

<p>
  <b>Bio:</b>
  <%= @guest.bio %>
</p>

<p>
  <b>Quote:</b>
  <%= @guest.quote %>
</p>

<a href="<%= @guest.guest_url_text %>"><%= @guest.guest_url %></a>