<p id="notice"><%= notice %></p>

<%= image_tag("#{@theme.image_name}.jpg", :class => "theme_image" , :alt => "Theme image") %>

<h2><%= @theme.title %></h2>

<h4><em><%= @theme.subtitle %></em></h4>

<p>
  <%= @theme.summary %>
</p>

<h3>Stories</h3>

<% @stories.each do |story| %>

	<h4><%= link_to story.title, story%></h4>
	<p><%= story.subtitle%></p>

<% end %>

<% if false %>
	<h3>Tidbits</h3>
	<ul>
		<% @tidbits.each do |tidbit| %>

			<li><%= link_to tidbit.title, tidbit %></li>

		<% end %>
	</ul>
<% end %>

<%= link_to 'Explore Other Themes', themes_path %>
