<% title @theme.title %>

<p id="notice"><%= notice %></p>

<div class="row">
<%= image_tag("#{@theme.image_name}.jpg", :id => "theme-image" , :alt => "Theme image", :class => "span6") %>

<div class="page-header span6" id="theme-summary">
	<h1><%= @theme.title %></h1>
	<h4><em><%= @theme.subtitle %></em></h4>
	<p><%= @theme.summary %></p>
</div>

</div> <!-- end of first .row -->

<div class="row">

	<div class="span6">
	<div id="map" style="width: 500px; height: 400px"></div>

	<%= javascript_include_tag "leaflet-providers" %>
	<%= javascript_include_tag "kyc-leaflet" %>

	<script>
	var map = L.map('map').setView([45.523683, -122.663764], 13);
	addTilesToMap('OpenStreetMap.Mapnik', map)

	var storyGeoJSON = <%= @geojson %>;
	addGeoJSONToMap(storyGeoJSON, map);
	</script>

	</div>  <!-- end of span6 div -->
	
	<div class="span6">
<% @stories.each do |story| %>
	<div class="theme-story-listing">
		<% if false %>
		<% if story.image_name.length > 1 %>
			<%-# use hard-coded link, until images are selected and added to the asset pipeline %>
			<% if false %>
				<%= link_to image_tag("#{story.image_name}-tn.jpg", :class => "theme-story-thumbnail" , :alt => "Story thumbnail"), story %>
			<% end %>
			<a href="<%="/stories/#{story.slug}" %>"><img alt="Story Thumbnail" class="theme-story-thumbnail" src=<%="#{ENV['KYC_STATIC_ASSETS_URL']}#{story.image_name}-tn.jpg" %> /></a>
		<% else %>
			<img alt="Placeholder" class="theme-story-thumbnail" src=<%="#{ENV['KYC_STATIC_ASSETS_URL']}kyc-placeholder.jpg" %> />
		<% end %>
		<% end %>
		
		<a href="<%="/stories/#{story.slug}" %>"> <%= story_thumbnail_tag(story.image_name) %> </a>
		
		<h4><%= link_to story.title, story%></h4>
		<p><%= story.subtitle%></p>
	</div>

<% end %>
</div>  <!-- end of span6 div -->
</div> <!-- end of second .row -->



<% if false %>
	<h3>Tidbits</h3>
	<ul>
		<% @tidbits.each do |tidbit| %>

			<li><%= link_to tidbit.title, tidbit %></li>

		<% end %>
	</ul>
<% end %>

<div class="back-nav-bottom">
  <p><i class="icon-chevron-left"></i> <%= link_to 'Other Themes', root_path %></p>
</div>

