<p id="notice"><%= notice %></p>

<%= image_tag("#{@theme.image_name}.jpg", :class => "theme_image" , :alt => "Theme image") %>

<div class="page-header">
	<h1><%= @theme.title %></h1>
</div>
<h4><em><%= @theme.subtitle %></em></h4>

<p>
  <%= @theme.summary %>
</p>

<h3>Stories</h3>

<% @stories.each do |story| %>
	<div class="theme-story-listing">
		<% if story.image_name.length > 1 %>
			<%-# use hard-coded link, until images are selected and added to the asset pipeline %>
			<% if false %>
				<%= link_to image_tag("#{story.image_name}.jpg", :class => "theme-story-thumbnail" , :alt => "Story thumbnail"), story %>
			<% end %>
			<img alt="Story Thumbnail" class="theme-story-thumbnail" src=<%="http://kycstatic.elsewiseapps.com/assets/#{story.image_name}.jpg" %> />
		<% else %>
			<img alt="Placeholder" class="theme-story-thumbnail" src=<%="http://kycstatic.elsewiseapps.com/assets/kyc-placeholder.jpg" %> />
		<% end %>
		<h4><%= link_to story.title, story%></h4>
		<p><%= story.subtitle%></p>
	</div>

<% end %>

<% if false %>
	<h3>Tidbits</h3>
	<ul>
		<% @tidbits.each do |tidbit| %>

			<li><%= link_to tidbit.title, tidbit %></li>

		<% end %>
	</ul>
<% end %>

<div class="well well-small">
  <p><i class="icon-chevron-left"></i> <%= link_to 'Other Themes', root_path %></p>
</div>

