<% title "Flashbacks" %>

<h1>Flashbacks</h1>

<div id="map" style="width: 500px; height: 400px" ></div>

<%= javascript_include_tag "leaflet-providers" %>
<%= javascript_include_tag "kyc-leaflet" %>

<script>
var map = L.map('map').setView([45.523683, -122.663764], 13);
addTilesToMap('Stamen.Terrain', map)

var initialGeoJSONData = <%= @geojson %>;
addGeoJSONToMap(initialGeoJSONData, map);
</script>

<% @tidbits.each do |tidbit| %>
	<div class="tidbit-listing">		
		<a href="<%="/tidbits/#{tidbit.slug}" %>"> <%= story_thumbnail_tag(tidbit.image_name) %> </a>
		
		<h4><%= link_to tidbit.title, tidbit%></h4>
		<p><% if !tidbit.year.nil? %>
			<span class="tidbit-year"><%= tidbit.year %></span>
		<% end %>
		Subtitle
		</p>
		<p class="tidbit-publish-date">Published: <%= tidbit.publication_date.to_formatted_s(:kyc_long_date) %></p>
		
	</div>
<% end %>