<p id="notice"><%= notice %></p>

<div id="snapshot-media-section">
	<% if !@tidbit.image_name.nil? %>
		<%-# hard code link during development, until pipeline configured for server %>
		<img alt="snapshot image" class="snapshot-image" src="<%="#{ENV['KYC_STATIC_PHOTOS_URL']}#{@tidbit.image_name}.jpg" %>" />
		
		<%= story_image_credit_markup(@tidbit) %>

		<p>
		  <em><%= @tidbit.image_caption %></em>
		</p>
	<% end %>
</div> <!-- #tidbit-media-section -->

<div id="tidbit-body-section">

	<h3><%= @tidbit.title %></h3>

	<p><em><%= @tidbit.year %></em></p>

	<%= kyc_audio_tag(@tidbit.audio_filename) %>
	
	<p><%= @tidbit.body %></p>

</div> <!-- #tidbit-body-section -->

<% if @tidbit.valid_coordinate? %>

	<%= image_tag "http://maps.google.com/maps/api/staticmap?size=320x240&sensor=false&zoom=16&markers=#{@tidbit.latitude}%2C#{@tidbit.longitude}" %>

	<h4>Nearby Tidbits</h4>
	<ul>
	<% for tidbit in @tidbit.nearbys(10) %>
	  <li><%= link_to tidbit.title, tidbit %> (<%= tidbit.distance.round(2) %> miles)</li>
	<% end %>
	</ul>
<% end %>

<%= link_to 'Back to Snapshots', tidbits_path %>
