<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @tidbit.title %>
</p>

<p>
  <b>Year:</b>
  <%= @tidbit.year %>
</p>

<p>
  <b>Image name:</b>
  <%= @tidbit.image_name %>
</p>

<p>
  <b>Image caption:</b>
  <%= @tidbit.image_caption %>
</p>

<p>
  <b>Image credit:</b>
  <%= @tidbit.image_credit %>
</p>

<p>
  <b>Body:</b>
  <%= @tidbit.body %>
</p>

<%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@tidbit.latitude}%2C#{@tidbit.longitude}" %>

<h3>Nearby Tidbits</h3>
<ul>
<% for tidbit in @tidbit.nearbys(10) %>
  <li><%= link_to tidbit.title, tidbit %> (<%= tidbit.distance.round(2) %> miles)</li>
<% end %>
</ul>
<%= link_to 'Back to Snapshots', tidbits_path %>
