<% title @story.title %>

<p id="notice"><%= notice %></p>

<%-# Get an array of admin users here, for quick lookup %>

<% user_list = AdminUser.select("id, human_name") %>

<h4>Last Editor: <%= user_list[@story.originator.to_i - 1].human_name %></h4>

<%-# Paper Trail docs: https://github.com/airblade/paper_trail %>

<% @story.versions.each do |version| %>
	
	<% if version.whodunnit.to_i > 0 %>
		<% author = user_list[version.whodunnit.to_i - 1].human_name %>
	  <% elsif %>
		<% author = "Unknown" %>
	<% end %>
	
	<h3><%= "#{version.index.to_s}: #{version.event}d by #{author} at #{version.created_at.to_s}" %></h3>
	
	<%-# Requires the versions column to have an object_changes column %>
	<% if false %>
		<p><%= version.changeset %></p>
	<% end %>
	
	<%-# This is stored as JSON? Access would need to be customized for each model. %>	
	<% if version.object %>
		<% story_object = JSON.parse(version.object) %>
		<p><strong>Title:</strong> <%= story_object['title'] %></p>
		<p><strong>Subtitle:</strong> <%= story_object["subtitle"] %></p>
		<p><strong>Summary:</strong> <%= story_object["summary"] %></p>
		<p><strong>Slug:</strong> <%= story_object["slug"] %></p>
	<% end %>
	
<% end %>