<p id="notice"><%= notice %></p>

<p><em><%= link_to "Return to #{@story.theme.title}", @story.theme %></em></p>

<% if false %>
<%=image_tag("#{@story.image_name}.jpg", :class => "story_image", :alt => "Story Image") %>
<% end %>

<%-# hard code link during development, until pipeline configured for server %>
<img alt="Story Image" class="story_image" src=<%="http://kycstatic.elsewiseapps.com/assets/#{@story.image_name}.jpg" %> />
<p class="image-credit"><em>Image credit:</em> <%= @story.image_credit %></p>

<% if false %>
<%-# need more robust handling for browsers without HTML5 audio support %>
<%=audio_tag("#{@story.audio_filename}.mp3", :controls => true) %>
<%-# output is incorrect? looks like:  %>
<%-# <audio controls="controls" src="/audios/audio_filename.mp3" /> %>
<% end %>

<%-# should make multiple formats available %>
<audio controls="controls" >
	<source src=<%="/audios/#{@story.audio_filename}.mp3"  %> />
	<source src=<%="/audios/#{@story.audio_filename}.ogg"  %> />
	  <!-- some other kind of failure-handling -->
	 Needs different format 
</audio>

<h2><%= @story.title %></h2>

<h4><em><%= @story.subtitle %></em></h4>

<p><%= @story.summary %></p>

<% if @story.valid_coordinate? %>

	<%= image_tag "http://maps.google.com/maps/api/staticmap?size=240x180&sensor=false&zoom=16&markers=#{@story.latitude}%2C#{@story.longitude}", :size => "240x180" %>

	<h3>Nearby Stories</h3>
	<ul>
	<% for story in @story.nearbys(10) %>
	  <li><%= link_to story.title, story %> (<%= story.distance.round(2) %> miles)</li>
	<% end %>
	</ul>

<% end %>

<%=audio_tag("#{@story.audio_filename}.mp3", :controls => true) %>

<p><em><%= link_to "Return to #{@story.theme.title}", @story.theme %></em></p>