<% title @story.title %>

<p id="notice"><%= notice %></p>

<div id="story-media-section">
	<% if @story.media_type.name == "map_interview" %>
		
		<div id="media-map-container">
		<div id="media-map"></div>

		<%= javascript_include_tag "leaflet-providers" %>
		<%= javascript_include_tag "kyc-leaflet" %>

		<script>
		var centroid = [<%= "#{@story.latitude}" %>, <%= "#{@story.longitude}" %>];
		var map = L.map('media-map').setView(centroid, 16);
		addTilesToMap('OpenStreetMap.Mapnik', map)

		addGeoJSONToMap(<%= @media_geojson %>, map);
		</script>
		<p class="story-image-caption"><%= @story.image_caption %> </p>
		<%= media_credit_markup(@story, true) %>
		<div id="media-location-button"><p><a href="javascript:addUserToMap(map, true)">Show my location</a></p></div>
		</div> <!-- id="media-map-container" -->
		
	<% elsif @story.media_type.name == "photo_interview" %>
		<%= story_image_markup(@story.image_name) %>
		<p class="story-image-caption"><%= @story.image_caption %> </p>
		<%= media_credit_markup(@story, false) %>
	<% else %>
		<!-- no media available -->
	<% end %>
	
</div> <!-- #story-media-section -->

<div id="story-body-section">

	<h2><%= @story.title %></h2>

	<h4 class="subtitle"><em><%= @story.subtitle %></em></h4>

	<%= kyc_audio_tag(@story.audio_filename) %>

	<p><%= @story.summary %></p>
	
</div> <!-- story-body-section -->

<!-- might want to roll this into story body section, especially if not much text -->
<%= guest_stub_markup(@story.guest, false) %>

<% if @story.valid_coordinate? %>
	<div id="story-geography">
		
		<!-- don't repeat map if the main media for the story is a map? -->
		<% if @story.media_type.name != "map_interview" %>
			<div id="story-map-container">
			<div id="story-map"></div>

			<%= javascript_include_tag "leaflet-providers" %>
			<%= javascript_include_tag "kyc-leaflet" %>

			<script>
			var centroid = [<%= "#{@story.latitude}" %>, <%= "#{@story.longitude}" %>];
			var map = L.map('story-map').setView(centroid, 15);
			addTilesToMap('OpenStreetMap.BlackAndWhite', map)

			var initialGeoJSONData = <%= @geojson %>;
			//addGeoJSONToMap(initialGeoJSONData, map);
			addMarkerToMap(centroid[0], centroid[1], map);
			</script>
		
			<div id="story-location-button"><p><a href="javascript:addUserToMap(map, true)">Show my location</a></p></div>
			</div> <!-- id="story-map-container" -->
		<% end %> <!-- of if media is a map conditional-->
		
		<div id="nearby-list">
			<%= story_nearby_list(@story.nearbys(12).limit(10)) %>
		</div>
		
	</div> <!-- #story-geography -->
<% end %>


<%= story_more_info_markup(@story) %>

<div class="back-nav-bottom">
  <p><i class="icon-chevron-left"></i> <%= link_to "Return to #{@story.theme.title}", @story.theme %></p>
</div>