<p id="notice"><%= notice %></p>

<div id="story-media-section">
	<%= story_image_markup(@story.image_name) %>

	<%= story_image_credit_markup(@story) %>
	
</div> <!-- #story-media-section -->

<div id="story-body-section">

	<h2><%= @story.title %></h2>

	<h4 class="subtitle"><em><%= @story.subtitle %></em></h4>

	<%= kyc_audio_tag(@story.audio_filename) %>

	<p><%= @story.summary %></p>
	
</div> <!-- story-body-section -->

<!-- might want to roll this into story body section, especially if not much text -->

<div id="story-guest-section">
	<img alt="Guest thumbnail" class="guest_thumbnail" src="<%="#{ENV['KYC_STATIC_ASSETS_URL']}#{@story.guest.image_name}.jpg" %>" />
	<h4 id="guest-thumbnail-title">As Told By...</h4>
	<p><%= link_to "#{@story.guest.name}", @story.guest %> </p>
	<p><%= @story.guest.title %></p>
</div>


<% if @story.valid_coordinate? %>
	<div id="story-geography">
		
		<div id="nearby-list">
			<%= story_nearby_list(@story.nearbys(10)) %>
		</div>
		
		<div id="story-static-map">
			<h4>Story Location</h4>
			<%= image_tag "http://maps.google.com/maps/api/staticmap?size=240x180&sensor=false&zoom=16&markers=#{@story.latitude}%2C#{@story.longitude}", :size => "300x225" %>
		</div>
		
	</div> <!-- #story-geography -->
<% end %>


<%= story_more_info_markup(@story) %>

<div class="back-nav-bottom">
  <p><i class="icon-chevron-left"></i> <%= link_to "Return to #{@story.theme.title}", @story.theme %></p>
</div>