<p id="notice"><%= notice %></p>

<p><em><%= link_to "Return to #{@story.theme.title}", @story.theme %></em></p>

<%=image_tag("#{@story.image_name}.jpg", :class => "story_image", :alt => "Story Image") %>

<p class="image-credit"><em>Image credit:</em> <%= @story.image_credit %></p>

<h2><%= @story.title %></h2>

<h4><em><%= @story.subtitle %></em></h4>

<p>
  <%= @story.summary %>
</p>

<h3>Nearby Stories</h3>
<ul>
<% for story in @story.nearbys(10) %>
  <li><%= link_to story.title, story %> (<%= story.distance.round(2) %> miles)</li>
<% end %>
</ul>

<%=audio_tag("#{@story.audio_filename}.mp4", :controls => true) %>



<p><em><%= link_to "Return to #{@story.theme.title}", @story.theme %></em></p>