<p class="footer-menu-list"> 
	<%= link_to_unless_current "About", about_path %> | 
	<%= link_to_unless_current "Credits", credits_path %> | 
	<% if false %> <!-- Deferred until > 1.0 release -->	
	<%= link_to_unless_current "Suggestions & Submissions", suggestions_path %> | 
	<% end %>
	<%= link_to_unless_current "Contact", contact_path %> | 
	<%= link_to_unless_current "Donate", donate_path %>
</p>

<p class="footer-credit">Brought to you by <a href="http://www.knowyourcity.org">Know Your City</a></p>

<p class="footer-credit">Funding provided by 
	<a href="http://www.travelportland.com/"><%= image_tag("travel-portland-300.png", :alt => "Travel Portland Logo", :size => "100x50") %></a>
	<a href="http://www.oregonartscommission.org/"><%= image_tag("oacc-logo-300.png", :alt => "Oregon Arts Commission Logo", :size => "50x50") %></a>
</p>

<%-# If you want to add login links to the footer %>

<% if false %>
	<ul class="footer-sign-in">
	  <% if user_signed_in? %>
	    <li>
	    <%= link_to 'Edit account', edit_user_registration_path %>
	    </li>
	    <% if current_user.has_role? :admin %>
	      <li>
	      <%= link_to 'Admin', users_path %>
	      </li>
	    <% end %>
	  <% else %>
	    <li>
	    <%= link_to 'Sign up', new_user_registration_path %>
	    </li>
	  <% end %>
	  <% if user_signed_in? %>
	    <li>
	    <%= link_to 'Logout', destroy_user_session_path, :method=>'delete' %>
	    </li>
	  <% else %>
	    <li>
	    <%= link_to 'Login', new_user_session_path %>
	    </li>
	  <% end %>
	</ul>
<% end %>