<!-- Original design with logo, and text link -->
<% if false %>
<%= link_to image_tag("pshg-icon-100.png", :id => "brand-logo" , :alt => "PDX Social History Guide Logo"), root_path %>
<%= link_to "PDX Social History Guide", root_path, :class => 'brand' %>
<% end %>
<!-- Logo and handwritten title -->
<%= link_to image_tag("pshg-header-wider.png", :id => "header-link" , :alt => "PDX Social History Guide"), root_path %>

<% if false %> <!-- Deferred until > 1.0 release -->
<!-- Top menu options -->
<ul class="nav">
  <li><%= link_to 'Flashbacks', tidbits_path %></li>
  <li><%= link_to_unless_current "Nearby", nearby_path, :class => "hidden-desktop" %></li>
  <li><%= link_to_unless_current "Donate", donate_path %></li>
  <li><%= link_to_unless_current "About", about_path %></li>
</ul>
<% end %>

<% if false %> <!-- nav style doesn't play nice with separators or donate button -->
<ul class="nav hidden-phone" id="top-right-nav">
  <li><%= link_to "About", about_path %></li>
  <li><%= link_to "Credits", credits_path %></li>
  <li><%= link_to "Contact", contact_path %></li>
  <li><%= link_to "Donate", donate_path %></li>
  <!-- <li><%= link_to "Donate", donate_path, :class => "btn btn-success" %></li> -->
</ul>
<% end %>

<!-- last minute nav change -->
<% if true %>
	<div class="hidden-phone" id="top-right-nav">
	  <%= link_to "About", about_path %> |
	  <%= link_to "Credits", credits_path %> |
	  <%= link_to "Contact", contact_path %> |
	  <%= link_to "Donate", donate_path %> <!-- button class doesn't align properly -->
	</div>
<% else %>
	<%= link_to "Donate", donate_path, :class => "btn btn-success btn-donate hidden-phone" %>
<% end %>